body {
	margin: 0;
	background: #fff;
	line-height: 1;
	font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-print-color-adjust: exact;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: inherit;
}





img {
	border: none;
	vertical-align: top;
}
a, a:visited {
	text-decoration: none;
	color: #08c;
}
a:hover { text-decoration: underline; }


/* 清浮动 */
.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: '.';
}




/* 通用内容样式 */
.content {
	line-height: 1.7;
	text-align: justify;
}




ul, ol { list-style-type: none; }


/* 通用列表样式 */
.list>li { list-style: disc; margin-left: 1.3em; }



/* 内容边界 */
.boundary { clear: both; }
@media (max-width: 768px) {
	.boundary { margin: 0 20px; }
}
@media (min-width: 769px) and (max-width: 1040px) {
	.boundary { margin: 0 30px; }
}
@media (min-width: 1040px) {
	.boundary {
		max-width: 980px;
		margin: 0 auto;
	}
}



/*❤️ ❤️ 章节 */
.section:nth-child(even) { background: #fafafa; }
.section__header {
	text-shadow: 1px 1px 0 #fff;
	line-height: 1.4;
}
.section__header__title, .section__header__subtitle {
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
	text-align: center;
}
.section__header__subtitle { color: #999; }

@media (max-width: 749px) {
	.section .boundary { padding: 25px 0; }
	.section__header { margin-bottom: 20px; }
	.section__header__title { font-size: 26px; }
	.section__header__subtitle { font-size: 20px; }
}

@media (min-width: 750px) {
	.section .boundary { padding: 35px 0; }
	.section__header { margin-bottom: 30px; }
	.section__header__title { font-size: 40px; }
	.section__header__subtitle { font-size: 34px; }
}


/* 技术技能章节 */
.tech-skill-list__item {
	position: relative;
	animation-duration: 1.5s;
}
.tech-skill-list__item-javascript {
	animation-name: bar-javascript;
}
@keyframes bar-javascript {
	0% { width: 0; }
	100% { width: 100%; }
}
.tech-skill-list__item-html-and-css {
	width: 90%;
	animation-name: bar-html-and-css;
}
@keyframes bar-html-and-css {
	0% { width: 0; }
	100% { width: 90%; }
}
.tech-skill-list__item-nodejs {
	width: 80%;
	animation-name: bar-nodejs;
}
@keyframes bar-nodejs {
	0% { width: 0; }
	100% { width: 80%; }
}
.tech-skill-list__item-aspdotnet {
	width: 55%;
	animation-name: bar-aspdotnet;
}
@keyframes bar-aspdotnet {
	0% { width: 0; }
	100% { width: 55%; }
}
.tech-skill-list__item-sql {
	width: 50%;
	animation-name: bar-sql;
}
@keyframes bar-sql {
	0% { width: 0; }
	100% { width: 50%; }
}
.tech-skill-list__item-photoshop {
	width: 45%;
	animation-name: bar-photoshop;
}
@keyframes bar-photoshop {
	0% { width: 0; }
	100% { width: 45%; }
}
.tech-skill-list__item__name {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-left: 3px solid;
	overflow: hidden;
	background-color: #fff6dd;
	border-color: #fdbc40;
	color: #ff742a;
}
.tech-skill-list__item--practised .tech-skill-list__item__name {
	background-color: #eaf6d0;
	border-color: #80bd01;
	color: #6e9c0f;
}
.tech-skill-list__item--mastered .tech-skill-list__item__name {
	background-color: #d6efff;
	border-color: #3498db;
	color: #2a7da9;
}	
.tech-skill-list__item__detail {
	position: absolute;
	left: 150px;
	top: 12px;
	z-index: 9999;
	max-width: 400px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

@media (max-width: 749px) {
	.tech-skill-list__item { margin-bottom: 15px; }
}

@media (min-width: 750px) {
	.tech-skill-list__item { margin-bottom: 20px; }
	.tech-skill-list__item:hover .tech-skill-list__item__detail {
		display: block;
		font-size: 14px;
	}

	@keyframes fade-in {
		0% {
			display: none;
			opacity: 0;
		}
		1% {
			display: block;
			opacity: 0;
		}
		100% {
			display: block;
			opacity: 1;
		}
	}
	.fade { animation: fade-in 0.8s; }
}




